.has-js .aside details {
	--flow-space: 0;
	display: none;
}

.aside details {
	position: relative;
	padding: var(--step--1);
	outline: var(--underline-thickness) solid currentColor;
	border-radius: calc(2 * var(--underline-thickness));
	font-size: var(--step--1);
}

.aside details[open] {
	display: block;
}

/* Progressive enhancement */
.aside summary {
	padding: 0;
}

.has-js .aside summary {
	position: absolute;
	inset-block-start: -0.5em;
	inset-inline-end: 1rem;
	padding: 0 0.5rem;
	background: var(--bg);
	line-height: 1;
}

.aside summary ~ * + * {
	margin-block-start: var(--step--1);
}

/* .has-js .aside summary::marker {
	content: "ⓧ ";
} */
