.layout-blog .header {
	--cluster-vertical-alignment: center;
}

.blog-desc {
	font-size: var(--step--1);
	/* color: var(--text-secondary); */
}

.blog-desc li:before {
	content: "-";
}

.blog a {
	flex-wrap: nowrap;
}
