@font-face {
	font-family: "pp_editorial_newitalic";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	unicode-range: U+20-7E;
	src: url("/fonts/PPEditorialNew-Italic-subset.woff") format("woff");
}

@font-face {
	font-family: "pp_editorial_newitalic";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	unicode-range: U+20-7E;
	src: url("/fonts/PPEditorialNew-Italic-subset.woff2") format("woff2");
}
