/* font, underline */
:root {
	--font-plain: "Recursive", sans-serif;
	--font-special: "Recursive", sans-serif;
	--font-code: "Recursive", SFMono-Regular, Consolas, Courier, monospace;
	--letter-spacing--2: -0.045em;
	--letter-spacing--1: -0.03em;
	--letter-spacing-0: -0.015em;
	--letter-spacing-1: 0.015em;
	--letter-spacing-2: 0.03em;
	--line-height: 1.6;
	--line-height-medium: 1.3;
	--line-height-small: 1.1;
	--line-height-extra-small: 0.8;
	--line-length: 70ch;
	--underline-thickness: 0.075em;
	--underline-offset: calc(2 * var(--underline-thickness));
	--border-radius: 0.15em;
	--hr-thickness: calc(var(--step--2) * 0.075);
	--svg-thickness: 2px;

	--casl: "CASL" 0;
	--wght: "wght" 400;
	--slnt: "slnt" 0;
	--sups: "sups" off;
	--dlig: "dlig" on;
}

* {
	font-variation-settings: var(--casl), var(--wght), var(--slnt);
	font-feature-settings: var(--sups), var(--dlig);
}

/* @media (prefers-reduced-data: reduce) {
	:root {
		--font-plain: sans-serif;
		--font-special: sans-serif;
	}

	* {
		font-variation-settings: unset;
		font-feature-settings: unset;
	}
} */

/* size and space */
:root {
	--min-block-size: 100vh;
	--max-inline-size: min(90rem, 100vw);
	--gutter: var(--space-s-m);
	--btn-padding-block: var(--space-3xs);
	--btn-padding-inline: var(--space-2xs);
	--li-padding-block: var(--space-2xs);
	--li-padding-inline: calc(var(--space-2xs) / 2);
}

/* transforms and animations */
:root {
	--img-rotate: 0deg;
	--ease-1: cubic-bezier(0.25, 0, 0.5, 1);
	--ease-2: cubic-bezier(0.66, 0, 0.2, 1);
	--ease-out-3: cubic-bezier(0, 0, 0.3, 1);
	--animation-slide: slide 2s ease-out 5;
}

@supports (min-block-size: 100svh) {
	:root {
		--min-block-size: 100svh;
	}
}

/* color */
:root {
	--white: hsl(0deg 0% 99%);
	--black: hsl(0deg 0% 1%);
	--editor-black: hsl(0deg 0% 12%);

	--bg: var(--white);
	--bg-hover: hsla(0, 0%, 96%);
	--text: var(--black);
	--text-secondary: hsla(0, 0%, 1%, 0.8);
	--text-tertiary: hsla(0, 0%, 86%);
	--underline-color: var(--text);
	--border-color: var(--text-secondary);
	--article-bg: hsl(0deg 0% 99% / 80%);
	--article-border: hsl(0deg 0% 1% / 10%);
}

[data-variant="inverted"] {
	--bg: var(--black);
	--bg-hover: hsla(0, 0%, 9%);
	--text: var(--white);
	--text-secondary: hsla(0, 0%, 100%, 0.8);
	--text-tertiary: hsla(0, 0%, 14%);
	--underline-color: var(--text);
	--border-color: var(--text-secondary);
	--article-bg: hsl(0deg 0% 1% / 80%);
	--article-border: hsl(0deg 0% 100% / 10%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--black);
		--bg-hover: hsla(0, 0%, 9%);
		--text: var(--white);
		--text-secondary: hsla(0, 0%, 100%, 0.8);
		--text-tertiary: hsla(0, 0%, 14%);
		--underline-color: var(--text);
		--border-color: var(--text-secondary);
		--article-bg: hsl(0deg 0% 1% / 80%);
		--article-border: hsl(0deg 0% 100% / 10%);
	}
}

body {
	min-block-size: var(--min-block-size);

	background-color: var(--bg);
	color: var(--text);
	font-family: var(--font-plain);
	font-size: var(--step-0);
	line-height: var(--line-height);
	/* letter-spacing: var(--letter-spacing-0); */
}

body {
	--grid-gap: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: var(--grid-gap);

	/* background-image: var(--pixel-bg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-size: var(--step-10); */
}

main {
	--stack-gap: var(--space-2xl-3xl);
	--stack-horizontal-alignment: space-between;
	--stack-vertical-alignment: space-between;
	margin-block: var(--space-l-xl) var(--gutter);
	scroll-margin-block-start: calc(var(--space-l-xl) / 2);
}

.page-header {
	--cluster-gap: var(--space-m-l) var(--gutter);
	--cluster-horizontal-alignment: flex-start;
	--cluster-vertical-alignment: flex-end;
}

@media (min-width: 60em) {
	main {
		margin-block-start: var(--gutter);
	}
}

.page-desc {
	--flow-space: 0.1em;
}

.page-desc li:before {
	content: "-";
}

h1,
h2,
h3 {
	--wght: "wght" 700;
	font-family: var(--font-special);
}

h1 {
	font-size: var(--step-4);
	line-height: var(--line-height-small);
	letter-spacing: var(--letter-spacing--2);
}

h2,
h3 {
	line-height: var(--line-height-medium);
	letter-spacing: var(--letter-spacing--1);
}

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}

p,
li,
dd {
	max-inline-size: var(--line-length);
}

:where(a) {
	color: inherit;
	text-decoration-line: underline;
	text-decoration-thickness: var(--underline-thickness);
	text-underline-offset: var(--underline-offset);
	-webkit-tap-highlight-color: transparent;
	transition: font-variation-settings 400ms ease;
}

a:where(:hover, :focus) {
	--casl: "CASL" 1;
	--wght: "wght" 700;
	--underline-thickness: 0.15em;
	color: var(--text);
}

[href*="mailto"] {
	white-space: nowrap;
}

button {
	outline: var(--underline-thickness) solid currentColor;
	border: none;
	border-radius: var(--border-radius);
	padding: var(--btn-padding-inline) var(--btn-padding-block);
	background-color: inherit;
}

.btn {
	position: relative;
	padding: var(--btn-padding-block) var(--btn-padding-inline);
}

.back-to-archive {
	inline-size: fit-content;
	text-decoration: none;
}

.back-to-archive:hover {
	color: inherit;
}

@media (min-width: 30.0625em) {
	.back-to-archive {
		--btn-padding-block: var(--gutter);
		--btn-padding-inline: var(--space-3xs);
		position: absolute;
		inset-block-start: 0;
		color: var(--text-secondary);
	}
}

summary {
	--wght: "wght" 700;
	cursor: pointer;
	touch-action: manipulation;
}

sup {
	--sups: "sups" on;
	position: relative;
	inset-block-start: auto;
	vertical-align: text-bottom;
	user-select: none;
}

@supports (font-variant-position: super) {
	sup {
		--sups: "____";
		font-variant-position: super;
	}
}

sup a {
	text-decoration: none;
}

hr {
	border: none;
	border-block-start: var(--hr-thickness) solid currentColor;
	margin-inline-start: 0;
}

time {
	font-size: var(--step--1);
}

img {
	height: auto;
}

strong {
	--wght: "wght" 700;
}

em {
	--slnt: "slnt" -15;
	--casl: "CASL" 1;
	font-style: normal;
}

/* img:where(:hover, :focus) {
	filter: url(#noise);
	transform: rotate(var(--img-rotate)) translate(-5px, -5px);
} */

:focus {
	outline: var(--underline-thickness) solid var(--underline-color);
	outline-offset: var(--underline-offset);
	border-radius: var(--border-radius);
}

:focus:not(:focus-visible) {
	outline: none;
}

[tabindex="-1"]:focus {
	outline: none;
}

pre {
	max-inline-size: calc(100vw - (2 * var(--gutter)));
	border-radius: var(--border-radius);
	overflow-x: auto;
	outline: var(--underline-thickness) solid var(--editor-black);
}

code {
	display: inline-block;
	padding-inline: var(--space-3xs);
	background-color: var(--text-secondary);
	border-radius: var(--border-radius);
	color: var(--bg);
	font-family: var(--font-code);
}

:not(pre) > code {
	outline: var(--underline-thickness) solid;
}

blockquote {
	--quote-padding: 1em;
	position: relative;
	padding: var(--quote-padding);
	background-color: var(--bg-hover);
	border-radius: var(--border-radius);
	outline: var(--underline-thickness) solid var(--text);
}

blockquote > * + * {
	margin-block-start: var(--flow-space, 1em);
}

/* additional margin to accomodate for absolutely postioned pseudo content */
blockquote,
blockquote + * {
	--flow-space: 1.5em;
}

blockquote:not(blockquote blockquote):before,
blockquote:not(blockquote blockquote):after {
	position: absolute;
	color: var(--bg);
	font-size: var(--step-4);
	line-height: 1;

	-webkit-text-stroke: 1px var(--text);
	/* filter: drop-shadow(1px 2px 0 var(--text)); */
}

blockquote:not(blockquote blockquote):before {
	content: open-quote;
	inset-block-start: -0.45ex;
	inset-inline-start: -0.3ch;
}
blockquote:not(blockquote blockquote):after {
	content: close-quote;
	inset-block-end: -1.32ex;
	inset-inline-end: -0.25ch;
}

blockquote blockquote {
	--flow-space: 1em;
	--underline-thickness: var(--step--2);

	padding: unset;
	outline: none;
	border-radius: unset;

	padding-inline-start: var(--step--1);
	border-inline-start: var(--underline-thickness) solid var(--text-tertiary);
}
