/* home page styles */

.layout-home main {
	--stack-horizontal-alignment: flex-start;
	--stack-vertical-alignment: space-between;
}

.desc {
	order: -1;
	max-width: 38ch;
	font-size: var(--step-0);
}

.desc > :where(*:nth-child(1), *:nth-child(2), *:nth-child(3)) {
	transform: translateY(-1ex);
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 0.66s;
	animation-fill-mode: forwards;
	animation-delay: 1.32s;
}

.desc > *:nth-child(1) {
	animation-delay: 0.66s;
}

.desc > *:nth-child(2) {
	animation-delay: 1.32s;
}

.desc > *:nth-child(3) {
	animation-delay: 1.98s;
}

.has-js .desc > *:nth-child(3) {
	animation-delay: 1.32s;
}

.wordmark {
	align-self: flex-end;
	inline-size: 100%;
	block-size: auto;
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 0.66s;
	animation-fill-mode: forwards;
	animation-timing-function: var(--ease-2);
}

.wordmark path {
	fill: var(--text);
}

/* headings use a special font */
/* on the home page the heading is visually hidden */
/* we apply the plain font to it so that the special font is not requested */
.vh h1 {
	font-family: var(--font-plain);
}

/* vertically center the img in the picture element */
/* picture {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.hero-img {
	block-size: auto;
	object-fit: contain;
	inline-size: var(--step-8);
} */
