/* home page styles */

main {
	--stack-horizontal-alignment: center;
	--stack-vertical-alignment: space-between;
}

picture {
	flex-grow: 1;
	/* vertically center the img in the picture element */
	display: flex;
	align-items: center;
}

.hero-img {
	inline-size: var(--step-10);
	block-size: auto;
	max-block-size: 66vh;
	object-fit: contain;
}

#logo {
	align-self: flex-end;
	inline-size: var(--step-10);
	block-size: auto;

	max-inline-size: calc(100vw - (2 * var(--gutter)));
}
