/* TODO: Linear style link hover interaction  */

.btn {
	position: relative;
	padding: var(--space-xs-s) var(--space-3xs-2xs);
}

/* .btn::before {
	content: "";
	position: absolute;
	inline-size: 100%;
	block-size: var(--underline-thickness);
	background: var(--text);
	inset-block-start: 108%;
	inset-inline-start: 0;
	pointer-events: none;
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.6s;
}

.btn:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
} */
