.list li {
	--columns: 1fr min-content;
	--grid-gap: 0 var(--space-2xs-xs);
	position: relative;
	display: grid;
	gap: var(--grid-gap);
	grid-template-columns: var(--columns);
	align-items: baseline;
}

.list li + li {
	border-block-start: var(--underline-thickness) solid currentColor;
	border-color: var(--border-color);
}

.list a {
	padding-block: var(--li-padding-block);
	/* padding-inline: var(--li-padding-inline); */
	text-decoration-line: none;
	text-transform: capitalize;
}

.list a:after {
	content: "";
	position: absolute;
	inset: 0;
}

.list a:focus {
	--underline-offset: calc(-0.5 * var(--underline-thickness));
}

.list li:after {
	content: "→";
}

.list li:where(:hover, :focus) {
	background: radial-gradient(circle at left, var(--bg-hover), transparent);
}

.layout-blog .list li > div {
	--cluster-gap: var(--grid-gap);
	--cluster-vertical-alignment: baseline;
}

.layout-blog .list li time {
	padding-block: 0 var(--li-padding-block);
}

.layout-links .list li:after {
	rotate: -45deg;
}
