.list li + li {
	border-block-start: var(--underline-thickness) solid currentColor;
	border-color: var(--border-color);
}

.list a {
	--cluster-horizontal-alignment: space-between;
	padding-block: var(--li-padding-block);
	padding-inline: var(--li-padding-inline);
	text-decoration-line: none;
	text-transform: capitalize;
}

.list a:focus {
	--underline-offset: calc(-0.5 * var(--underline-thickness));
}

.list a:after {
	content: "→";
}

.list a:where(:hover, :focus) {
	background: radial-gradient(circle at left, var(--bg-hover), transparent);
}
