.nav ul {
	--cluster-gap: var(--space-3xs-2xs);
	--cluster-horizontal-alignment: space-between;
	color: var(--text-secondary);
}

@media (min-width: 30em) {
	.nav ul {
		--cluster-horizontal-alignment: unset;
	}
	.nav ul > :last-child {
		margin-inline-start: auto;
	}
}

.nav a {
	position: relative;
	text-decoration: none;
}

.nav a:hover {
	background-color: unset;
}

nav .btn {
	--btn-padding-block: var(--space-xs);
	--btn-padding-inline: var(--space-3xs);
}
