.nav ul {
	--cluster-gap: var(--space-2xs-xs);
	inline-size: 100%;
	border-block-end: var(--underline-thickness) solid var(--bg-hover);
	color: var(--text-secondary);
}

.nav ul > :nth-child(2) {
	margin-inline-start: auto;
}

.nav a {
	border-block-end: var(--underline-thickness) solid transparent;

	min-inline-size: 7.8ch;
	text-align: center;
	font-weight: 500;
}

.nav [aria-current="page"] {
	border-color: currentColor;
}

.nav [data-state="active"] {
	border-color: currentColor;
}
