.article-container {
	max-width: min(36em, 100%);
	/* margin-inline: auto; */
}

.article-container h1 {
	font-size: var(--step-3);
	font-family: var(--font-plain);
	font-style: normal;
	text-transform: capitalize;
	font-weight: 700;
}

.layout-post time {
	display: block;
}

.article-body {
	--flow-space: 2em;
}

.article-body * {
	--flow-space: 1em;
}

.article-body li + li {
	margin-top: var(--flow-space, 1em);
}

.footnotes {
	font-size: var(--step--1);
}
