.article-container {
	display: grid;
	grid-template-areas:
		"title"
		"date"
		"content";
	gap: var(--gutter);
	align-items: baseline;
	max-width: min(calc(1.414 * var(--step-10)), 100%);
	margin-inline: auto;
}

@media (min-width: 30em) {
	.article-container {
		grid-template-areas:
			"date title"
			"date content";
	}
}

.article-container h1 {
	grid-area: title;
	font-size: var(--step-3);
	font-family: var(--font-plain);
	font-style: normal;
	text-transform: capitalize;
	font-weight: 700;
}

.layout-post time {
	grid-area: date;
	display: block;
}

.article-body {
	grid-area: content;
}

.article-body > * {
	--flow-space: 1em;
}

.article-body li + li {
	--flow-space: 1ch;
	margin-top: var(--flow-space, 1em);
}

.footnotes {
	font-size: var(--step--1);
}

.footnotes-list {
	padding-inline-start: 1rem;
}
