main {
	inline-size: 100%;
	--stack-horizontal-alignment: space-between;
	--stack-vertical-alignment: space-between;
}

.header {
	--cluster-gap: var(--gutter);
	--cluster-horizontal-alignment: space-between;
	--cluster-vertical-alignment: flex-start;
}

.header img {
	/* inline-size: max(414px, var(--step-9)); */
	inline-size: var(--step-9);
	block-size: auto;
	transform: rotate(-2deg);
}

.projects li + li {
	border-block-start: var(--underline-thickness) solid currentColor;
}

.projects a {
	--cluster-horizontal-alignment: space-between;
	padding-block: var(--space-3xs-2xs);
	padding-inline: calc(var(--space-3xs-2xs) / 2);
	text-decoration-line: none;
}

.projects a:after {
	content: "→";
}
