.story-container {
	--cluster-gap: 0;
	--cluster-horizontal-alignment: center;
	--cluster-vertical-alignment: start;
	--title-font-size: var(--space-xl-2xl);
	flex-wrap: nowrap;
	max-inline-size: calc(100vw - (2 * var(--gutter)));
}

.story-container .title {
	--wght: "wght" 700;
	margin-inline-start: 1ex;
	font-size: var(--title-font-size);
	font-family: var(--font-special);
	letter-spacing: var(--letter-spacing--2);
	line-height: var(--line-height-small);
	text-shadow: var(--bg) 0px 0px var(--step-2);
	/* backdrop-filter: blur(var(--space-5xs)); */
	rotate: 180deg;
	writing-mode: vertical-lr;
}

.story-container > div {
	margin-inline-start: calc(
		(-0.5 / var(--line-height-small)) *
			(var(--title-font-size) * var(--line-height-small))
	);
}

.story-container img {
	border-radius: var(--border-radius);
}

.story-container .metadata {
	--flow-space: var(--space-3xs-2xs);
}

@media (min-width: 60em) {
	.layout-stories h1 {
		font-size: var(--step-1);
		letter-spacing: unset;
		color: var(--text-secondary);
	}
}

/* .scroll-dir {
	margin-block-start: -1em;
	color: var(--text-secondary);
	animation: var(--animation-slide) forwards;
	animation-delay: 2s;
	text-align: end;
}

.scroll-dir:before {
	content: "";
	flex-grow: 999;
	border-block-start: var(--hr-thickness) dotted currentColor;
} */

.layout-stories .reel {
	gap: var(--space-l-xl);
	flex-wrap: wrap;
}

@media (min-width: 45em) {
	.layout-stories .reel {
		flex-wrap: nowrap;
		scroll-snap-type: x mandatory;
	}

	.layout-stories .reel.overflowing {
		padding-block-end: var(--space-s-m);
	}

	.layout-stories .reel > * {
		scroll-snap-align: start;
	}

	.layout-stories .story-container {
		max-inline-size: calc(
			100vw - (2 * var(--gutter)) - (2 * var(--space-l-xl))
		);
	}
}

.layout-stories .reel > * + * {
	margin-inline-start: unset;
}

.layout-stories .story-container img {
	max-block-size: calc(
		var(--min-block-size) - (2 * var(--gutter)) - var(--space-3xs-2xs) -
			(var(--step--1) * var(--line-height))
	);
	inline-size: auto;
}

.layout-stories .metadata {
	--cluster-horizontal-alignment: start;
	--cluster-vertical-alignment: baseline;
	--cluster-gap: var(--space-3xs-2xs);
	position: relative;
}

.layout-story .metadata > * {
	--flow-space: 1em;
}
