.display-pic {
	border-radius: 50%;
	aspect-ratio: 1;
	inline-size: 100%;
	block-size: 100%;
}

open-stories:not(:defined),
open-stories::part(button) {
	position: relative;

	display: grid;
	place-content: center;
	inline-size: var(--step-4);
	block-size: var(--step-4);
	box-shadow: inset 0 0 0 var(--step--6) var(--bg);
	border: var(--step--6) solid var(--text);
	border-radius: 50%;
	background-color: var(--text);
	color: var(--bg);
	font-weight: 500;
	font-size: var(--step--1);
	font-family: inherit;
}

open-stories::part(button) {
	cursor: pointer;
}

open-stories::part(button):hover {
	background-color: var(--text);
	border-color: var(--text);
	color: var(--bg);
}

open-stories:not(:defined),
open-stories.is-empty::part(button) {
	pointer-events: none;
	opacity: 0.5;
	overflow: hidden;
	position: relative;
	cursor: not-allowed;
}

open-stories:not(:defined):before,
open-stories.is-empty::part(button):before {
	display: block;
	content: "";
	border-inline-start: var(--step--6) solid;
	position: absolute;
	transform: rotate(-45deg);
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 150%;
	block-size: 150%;
	transform-origin: top left;
}

.is-read::part(button) {
	border-color: var(--text-tertiary);
	background-color: var(--bg-hover);
	color: var(--text);
}

open-stories::part(dialog) {
	inline-size: auto;
	block-size: auto;
	aspect-ratio: 9/16;
	padding: 0;
	border: 0;
	background: transparent;
	overflow: visible;

	max-inline-size: 100%;
	max-block-size: calc(var(--min-block-size) - var(--space-6xs-xl));
}

open-stories::part(metadata) {
	font-size: var(--step-0);
}
