.story-container {
	--cluster-gap: 0;
	--cluster-horizontal-alignment: center;
	--cluster-vertical-alignment: start;
	--title-font-size: var(--space-xl-2xl);
	flex-wrap: nowrap;
	max-inline-size: calc(100vw - (2 * var(--gutter)));
}

.story-container .title {
	--wght: "wght" 700;
	margin-inline-start: 1ex;
	font-size: var(--title-font-size);
	font-family: var(--font-special);
	letter-spacing: var(--letter-spacing--2);
	line-height: var(--line-height-small);
	text-shadow: var(--bg) 0px 0px var(--step-2);
	/* backdrop-filter: blur(var(--space-5xs)); */
	rotate: 180deg;
	writing-mode: vertical-lr;
}

.story-container > div {
	margin-inline-start: calc(
		(-0.5 / var(--line-height-small)) *
			(var(--title-font-size) * var(--line-height-small))
	);
}

.story-container img {
	border-radius: var(--border-radius);
}

.story-container .metadata {
	--flow-space: var(--space-3xs-2xs);
	--cluster-horizontal-alignment: start;
	--cluster-vertical-alignment: baseline;
	--cluster-gap: var(--space-3xs-2xs);
}

@media (min-width: 60em) {
	.layout-stories h1 {
		--wght: "wght" 400;
		font-size: var(--step-0);
		line-height: var(--line-height);
		letter-spacing: unset;
		color: var(--text-secondary);
	}
}

.layout-stories .reel > * + * {
	margin-inline-start: var(--space-l-xl);
	/* padding-inline-start: var(--gutter);
	border-inline-start: var(--underline-thickness) dotted var(--article-border); */
}

.layout-stories .story-container img {
	max-block-size: calc(var(--min-block-size) - (2 * var(--gutter)));
	inline-size: auto;
}

/* scroll-snap */

.layout-stories hr,
.snap-details,
.snap-input-unchecked {
	display: none;
}

@supports (selector(:has(works))) {
	.layout-stories hr {
		--flow-space: var(--space-xl-2xl);
		display: inherit;
		border-block-start-style: dotted;
		border-block-start-color: var(--text-secondary);
	}

	.snap-details {
		display: unset;
	}

	.snap-input {
		--cluster-gap: 0.5em;
		--flow-space: var(--gutter);
	}

	.layout-stories input {
		margin: 0;
		inline-size: var(--step-1);
		block-size: var(--step-1);
		border-radius: var(--border-radius);
	}

	body:has(input[id="snap"]:checked) .reel {
		scroll-snap-type: x mandatory;
	}

	body:has(input[id="snap"]:checked) .reel > * {
		scroll-snap-align: end;
	}

	body:has(input[id="snap"]:not(:checked)) .snap-input-unchecked {
		display: inherit;
	}
}
