<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "./font-face.css" %}
  {% include "./reset.css" %}
  {% include "./skip-to-main-content.css" %}
  {% include "./fluid-type.css" %}
  {% include "./fluid-space.css" %}
  {% include "./pattern.css" %}
  {% include "./global.css" %}
  {% include "./nav.css" %}
  {% include "./footer.css" %}
  {% include "./list.css" %}
  {% include "./svg.css" %}
  {# {% include "./aside.css" %} #}
  {% if layout == "layouts/home.html" %}
    {% include "./home.css" %}
  {% endif %}
  {% if layout == "layouts/post.html" %}
    {% include "./post.css" %}
  {% endif %}
  {% if layout == "layouts/contact.html" %}
    {% include "./contact.css" %}
  {% endif %}
  {% if layout == "layouts/photos.html" %}
    {% include "./photos.css" %}
    {% include "./stories-element.css" %}
  {% endif %}
  {% if layout == "layouts/stories.html" or "layouts/story.html" %}
    {% include "./stories.css" %}
  {% endif %}
  {% if layout == "layouts/bookshelf.html" %}
    {% include "./bookshelf.css" %}
  {% endif %}
  {% include "./utilities.css" %}
  {% include "./keyframes.css" %}
  {# {% include "./at-property.css" %} #}
{% endset %}

<style>{{ css | cssmin | safe }}</style>