:where(.circle, .heart, .squiggle) path {
	stroke: currentColor;
}

/* for some reason, stroke-width is double of the expected value when using the code below */
/* .circle path {
	stroke-width: var(--svg-thickness);
} */

.circle {
	inline-size: calc(100% + (2 * var(--btn-padding-inline)));
	block-size: calc(100% - (1.5 * var(--btn-padding-block)));
	position: absolute;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transform: translate(-50%, -50%);
	fill: none;
	stroke-linecap: round;
	stroke-dasharray: var(--offset, 69px) 278px;
	stroke-dashoffset: 361px;
}

:where(.nav a:hover, .nav [aria-current="page"], .nav [data-state="active"])
	.circle {
	--offset: 180px;
}

@media (hover: hover) {
	/* when supported */
	.circle {
		transition-property: stroke-dasharray;
		transition-duration: 0.5s;
		transition-timing-function: linear;
		pointer-events: none;
	}
}

:where(.heart, .squiggle) path {
	stroke-width: var(--svg-thickness);
}

.heart,
.squiggle {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation-duration: 2.5s;
	animation-fill-mode: forwards;
	animation-name: draw;
	animation-delay: 0.2s;
	animation-timing-function: var(--ease-1);
}

.heart {
	inline-size: var(--step-4);
}

.squiggle {
	display: none;
	inline-size: var(--step-6);
}

@media (min-width: 36em) {
	.squiggle {
		display: block;
	}
}
