{%- extends "layouts/base.html" -%}

{%- block content -%}
  <div class="page-header cluster">
    <h1 class="line-height-xs">{{ title }}</h1>
    <ul class="page-desc step--1 flow" role="list">
      {%- for item in description -%}
        <li>
          {{ item | safe }}
        </li>
      {%- endfor -%}
    </ul>
    <!-- {% include "snippets/squiggle.html" %} -->
  </div>
  {{ content | safe }}
  <ol class="blog list" role="list" reversed>
    {%- for post in collections.posts | reverse -%}
      <li>
        <a href="{{ post.url }}">
          {{ post.data.title }}
        </a>
        <time datetime={{ post.date | dump | safe }}>
          {{ post.date | postDate }}
        </time>
      </li>
    {%- endfor -%}
  </ol>
{%- endblock -%}
