{%- extends "layouts/base.html" -%}

{%- block content -%}
  <div class="header cluster">
    <h1>{{ title }}</h1>
    <ul class="page-desc flow" role="list">
      {%- for item in description -%}
        <li>
          {{ item | safe }}
        </li>
      {%- endfor -%}
    </ul>
    <!-- {% include "snippets/squiggle.html" %} -->
  </div>
  {{ content | safe }}
  <ol class="blog list" role="list" reversed>
    {%- for post in collections.posts | reverse -%}
      <li>
        <div class="cluster">
          <a href="{{ post.url }}">
            {{ post.data.title | addNbsp | safe }}
          </a>
          <time datetime={{ post.date | dump | safe }}>
            {{ post.date | postDate }}
          </time>
        </div>
      </li>
    {%- endfor -%}
  </ol>
{%- endblock -%}
