{%- extends "layouts/base.html" -%}

{%- block content -%}
  <div class="header cluster">
    <h1 class="line-height-xs">{{ title }}</h1>
    <p class="">({{ collections.bookshelf | length }})</p>
  </div>
  {{ content | safe }}
  <ul class="bookshelf grid" role="list">
    {%- for post in collections.bookshelf -%}
      {%- set imageUrl = "src/images/" + post.data.url -%}
      {%- set alt = post.data.alt -%}
      {%- set sizes = post.data.sizes -%}
      {%- set class = post.data.class -%}
      {% if loop.index <= 9 %}
        {%- set loading = "eager" -%}
        {%- set fetchPriority = "high" -%}
      {% else %}
        {%- set loading = "lazy" -%}
        {%- set fetchPriority = "low" -%}
      {% endif %}
      <li>
        <article
          class="book-container" 
          {% if post.data.spineColor %}
            style="--spine-color: {{ post.data.spineColor }}"
          {% endif %}
        >
          <div class="book">
            <div class="front">
              <div class="cover">
                {% image imageUrl , alt, sizes, loading, class, fetchPriority %}
              </div>
            </div>
            <div class="spine"></div>
          </div>
          <div class="book-info flow">
            <h2 class="title">{{ post.data.title | title }}</h2>
            {% if post.data.subtitle %}
              <p class="subtitle step--1 text-secondary">
                {{ post.data.subtitle | title | addNbsp | safe }}
              </p>
            {% endif %}
            <hr>
            <p class="author">
              <span class="step--1 text-secondary">by</span>
              <span>{{ post.data.author | addNbsp | safe }}</span>
            </p>
          </div>
        </article>
      </li>
    {%- endfor -%}
  </ul>
{%- endblock -%}
