{%- extends "layouts/base.html" -%}

{%- block prefetch -%}
  <link rel="prefetch" href="/projects/" as="document">
{%- endblock -%}

{%- block content -%}
  <div class="vh">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </div>
  {% include "snippets/logo.html" %}
  <div class="desc flow">
    {{ content | safe }}
  </div>
{%- endblock -%}

{%- block bodyScripts -%}
  <!-- TODO: check for performance -->
  <script 
    src="/scripts/aside.js" 
    fetchpriority="low"
    defer 
    async>
  </script>
  <script 
    src="/scripts/details-utils.js"
    fetchpriority="low"
    defer 
    async>
  </script>
{%- endblock -%}