{%- extends "layouts/base.html" -%}

{%- block content -%}
  <div class="vh">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </div>
  {% include "snippets/wordmark.html" %}
  <div class="desc flow">
    {{ content | safe }}
  </div>
{%- endblock -%}

<!-- TODO: Find a simple solution because this feels over-enginereed -->
<!-- Commented out using njk comments -->
{# {%- block bodyScripts -%}
  <script 
    src="/scripts/aside.js" 
    fetchpriority="low"
    defer 
    async>
  </script>
  <script 
    src="/scripts/details-utils.js"
    fetchpriority="low"
    defer 
    async>
  </script>
{%- endblock -%} #}