{%- extends "layouts/base.html" -%}

{%- block content -%}
  <div class="header">
    <h1 class="line-height-xs">{{ title }}</h1>
  </div>
  <article class="flow">
    {{ content | safe }}
    <open-stories
      class="step--1"
      src="/stories.json"
      duration="15"
    >
      stories
      <!-- TODO: add alt for the preamble image -->
      <!-- TODO: fix the length -->
      <!-- <span>× {{ collections.stories | length }}</span> -->
    </open-stories>
    <a class="stories-archive-link" href="/stories">{{ stories }}</a>
  </article>
{%- endblock -%}

{%- block bodyScripts -%}
  <script
  src="/scripts/stories.js"
  type="module"
  defer
  ></script>
{%- endblock -%}