{%- extends "layouts/base.html" -%}

{%- block content -%}
  <div class="page-header cluster">
    <h1 class="line-height-xs">{{ title }}</h1>
    <ul class="page-desc step--1 flow" role="list">
      {%- for item in description -%}
        <li>
          {{ item | safe }}
        </li>
      {%- endfor -%}
    </ul>
    <!-- {% include "snippets/heart.html" %} -->
  </div>
  <ul class="projects list" role="list">
    {%- for project in collections.projects -%}
      <li>
        <a class="cluster" href="{{ project.data.url }}">
          {{ project.data.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
  {{ content | safe }}
{%- endblock -%}
