{%- extends "layouts/base.html" -%}

{%- block mainClass -%}
  stack
{%- endblock -%}

{%- block content -%}
  <div class="header cluster">
    {{ content | safe }}
    {% image image.link , image.alt, image.sizes, image.loading, image.class %}
    {% include "partials/filter.html" %}
  </div>
  <ol class="projects" role="list">
    {%- for project in collections.projects -%}
      <li>
        <a class="cluster" href="{{ project.data.url }}">
          {{ project.data.title }}
        </a>
      </li>
    {%- endfor -%}
  </ol>
{%- endblock -%}
