{%- extends "layouts/base.html" -%}

{%- block preload -%}
  <link rel="preload" href="/fonts/PPEditorialNew-Italic-subset.woff2" as="font" type="font/woff2" crossorigin>
{%- endblock -%}

{%- block content -%}
  <div class="header cluster">
    <h1>{{ title }}</h1>
    {% image image.link , image.alt, image.sizes, image.loading, image.class, image.fetchPriority %}
  </div>
  <ol class="projects" role="list">
    {%- for project in collections.projects -%}
      <li>
        <a class="cluster" href="{{ project.data.url }}">
          {{ project.data.title }}
        </a>
      </li>
    {%- endfor -%}
  </ol>
  {{ content | safe }}
  {% include "partials/filter.html" %}
{%- endblock -%}
