{%- extends "layouts/base.html" -%}

{%- block preload -%}
  <link rel="preload" as="script" href="/scripts/reel.js">
{%- endblock -%}

{%- block injectBody -%}
  data-variant="inverted"
{%- endblock -%}

{%- block content -%}
  <div class="header">
    <h1 class="line-height-xs">{{ title }}</h1>
  </div>
  {{ content | safe }}
  <ol class="reel" role="list">
    {%- for post in collections.stories -%}
      {%- set imageUrl = "src/images/" + post.data.url -%}
      {%- set alt = post.data.alt -%}
      {%- set sizes = post.data.sizes -%}
      {%- set class = post.data.class -%}
      {% if loop.index <= 4 %}
        {%- set loading = "eager" -%}
        {%- set fetchPriority = "high" -%}
      {% else %}
        {%- set loading = "lazy" -%}
        {%- set fetchPriority = "low" -%}
      {% endif %}
      <li>
        <div class="story-container cluster">
          <h2 class="title">{{ post.data.title | title }}</h2>
          <div class="flow">
            {% image imageUrl , alt, sizes, loading, class, fetchPriority %}
            <div class="metadata cluster">
              <time
                class="publish-date"
                datetime={{ post.data.date | dump | safe }}
                >
                {{ post.data.date | postDate }}
              </time>
              <span aria-hidden="true">/</span>
              <a class="step--1" href="{{ post.url }}">
                <span>Know more</span>
                <span class="vh">about {{ post.data.title }}</span>
              </a>
            </div>
          </div>
        </div>
      </li>
    {%- endfor -%}
  </ol>
{%- endblock -%}

{%- block bodyScripts -%}
  <script
    src="/scripts/reel.js"
    defer
    fetchpriority="high"
  ></script>
{%- endblock -%}