{%- extends "layouts/base.html" -%}

{%- block injectBody -%}
  data-variant="inverted"
{%- endblock -%}

{%- block content -%}
  {%- set imageUrl = "src/images/" + url -%}
  <article class="story-container cluster">
    <h1 class="title">{{ title | title }}</h1>
    <div class="flow">
      {% image imageUrl , alt, sizes, "eager", class, "high" %}
      <div class="metadata flow">
        <time class="publish-date" datetime={{ date | dump | safe }}>
          {{ date | postDate }}
        </time>
        {{ content | safe }}
      </div>
    </div>
  </article>
  <a class="back-to-archive btn step--1 uppercase" href={{ backToArchive.url }}>
    {{ backToArchive.text }}
    {% include "snippets/circle.html" %}
  </a>
{%- endblock -%}